@mixin moonSvg(
  $top,
  $right,
  $scale,
  $zindex,
  $fillColor,
  $strokeColor,
  $blurAmount,
  $opacity
) {
  @extend %moonSvg;
  top: $top * 1%;
  right: $right * 1%;
  transform: rotate(165deg) scale($scale);
  z-index: $zindex;
  fill: $fillColor;
  stroke: $strokeColor;
  filter: blur($blurAmount * 1px);
  opacity: $opacity;
}

@mixin starSizeBlur($scaleAmount, $blurAmount, $opacityAmount) {
  @extend %starsSizePosition;
  transform: scale($scaleAmount);
  filter: blur($blurAmount * 1px);
  opacity: $opacityAmount;
}
